{%extends "base.html"%}
{%block body_block%}

<div class="card bg-dark text-white translucent">
  <img class="card-img" src="static/ic3.jpg" alt="Card image">

</div>
<div class="bg">
<div class="container">
<br>
<h2><p class="text">This is Innovation Center's official internship page.
Students who are interested to work in a particular project can fill the Google Form
and you'll be contacted further for the recruitment process. We expect full commitment
from both the sides so that maximum projects come out successfully from Innovation Center,
Manipal Academy of Higher Education
</p></h2>
</div>
</div>

{%endblock%}
